*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: "Chivo Mono", "consolas", sans-serif;
}

html {
  scroll-behavior: smooth;
}

div	{
	overflow: hidden;
}

.background{
    min-height: 100vh;
    min-width: 100vw;
    background-image: url("./images/bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: scroll;
  }

.navbar {
	transition: all 0.5s;
}

.img-fluid {
  border: 10px solid black;
  border-radius: 50%;
}

.landing-h1 {
	font-weight: bolder;
	font-size: 4rem;
}

.landing-div {
	margin: 2rem;
}

.headerprojects {
	font-weight: bolder;
}

.about-title {
	font-weight: bolder;
}

#about {
	min-height: 100vh;
	color: white;
}

#projects {
	min-height: 100vh;
}

.aboutme-h{
	border: black;
	border-bottom: 2px solid;
	display: inline-block;
	margin-bottom: 2rem;
	font-size: 5rem;
}

.aboutme-bg {
 		min-height: 100vh;
    background-color: rgba(0, 0, 0, 0.2);
    background-image: url("./images/sunrise.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

#contact {
	min-height: 95vh;
}

.aboutme-p1 {
	text-shadow: 2px 2px #252b2b;
	font-size: 2rem;
}

.footer-p2 {
	margin-left: auto;
}

#footer{
	text-align: center;
}

.headerprojects {
	border: black;
	border-bottom: 2px solid;
	display: inline-block;
	margin-bottom: 2rem;
	font-size: 3rem;
	color: white;
}

#connect-title {
	font-weight: bolder;
	border: white;
	border-bottom: 2px solid;
	display: inline-block;
	margin-bottom: 2rem;
	font-size: 4rem;

}

.aboutme-h3-2 {
	margin-bottom: 2rem;
	font-size: 3rem;
	text-shadow: 2px 2px #252b2b;
}

.aboutme-h3s {
	font-size: 3rem;
	text-shadow: 2px 2px #252b2b;
}
